body {
    margin: 0;
    overflow-x: hidden;
    background-color: #cacaca;
}

@font-face {
    font-family: "NotoMono-Regular";
    src: url(../fonts/NotoMono-Regular.ttf);
}

nav {
    height: 100px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20%;
}

#flex {
    display: flex;
    gap: 100px;
}

.link {
    text-decoration: none;
}

.nav_main,
.nav_section,
.nav_timetable,
.nav_personal-account,
.nav_exit {
    color: #FFF;
    font-family: NotoMono-Regular;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 143.4%;
    /* 45.888px */
    transition: 3s;
}

.account_title {
    color: #000000;
    font-family: NotoMono-Regular;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 143.4%;
}

.nav_main:hover,
.nav_section:hover,
.nav_timetable:hover,
.nav_personal-account:hover,
.nav_exit:hover {
    text-decoration: underline;
    text-underline-offset: 15px;
    transition: 3s;
}

.a_href {
    text-decoration: none;
}

.main-content-search {
    border-radius: 8px;
    border: 1px solid var(--gray-300, #D0D5DD);
    background: #D9D9D9;
    display: flex;
    width: 320px;
    height: 44px;
    gap: 5px;
    align-items: center;
    flex-shrink: 0;
    padding: 0px 14px;
    margin: 30px;
}

.main-content-search textarea {
    border: none;
    color: var(#667085);
    background-color: #d9d9d9;
    font-family: NotoMono-Regular;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    /* 150% */
    height: 24px;
    width: 100%;
}

.main-content-filter {
    display: flex;
    background-color: #D9D9D9;
    border-radius: 8px;
    padding: 16px;
    width: 1818px;
    height: 18px;
    margin-left: 30px;
    margin-bottom: 30px;
    color: #667085;
}

.main-content-filter p {
    margin: 0;
}

.main-content-items {
    display: flex;
    background-color: #D9D9D9;
    padding: 16px;
    width: 1818px;
    height: 40px;
    justify-content: space-between;
    margin-left: 30px;
    border: 1px solid #EAECF0;
}

.main-content-items div {
    display: flex;
    align-items: center;
    gap: 40px;
}

.main-content-items-checkbox {
    padding-left: 30px;
}

.main-content-items-right {
    padding-right: 30px;
}

.main-content-items-right-img1,
.main-content-items-right-img2 {
    padding: 10px;
}

.main-content-items-right-img1:hover,
.main-content-items-right-img2:hover {
    background-color: #7B071B;
    border-radius: 5px;
}


.main-content-pages {
    display: flex;
    padding: 12px 16px 16px 16px;
    justify-content: space-between;
    width: 1818px;
    margin-left: 30px;
    border-radius: 0px 0px 8px 8px;
    border: 1px solid #EAECF0;
    background: #D9D9D9;
    margin-bottom: 30px;
}

.main-content-pages button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 8px;
    border: 1px solid var(--gray-300, #D0D5DD);
    background: #7B071B;
    color: #FFF;
    font-family: NotoMono-Regular;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    margin: 0px 30px;
}

footer {
    background-image: url(images/bg-image-footer.png);
    width: 1920px;
    height: 350px;
    background-repeat: no-repeat;
}

.footer-background {
    position: relative;
}

.footer-background-stick-left-top {
    position: absolute;
}

.footer-content {
    display: flex;
    height: 100%;
    justify-content: space-between;
    margin: 0 100px;
    align-items: center;

}

.footer-content-contacts {
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: #CCCCCC;
    color: #CCC;
    text-align: center;
    font-family: Inconsolata;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 45px;
    /* 195.313% */

}

.footer-content-contacts a {
    text-decoration: none;
    color: #CCCCCC;
    margin: 0;
}

.footer-content-contacts h2 {
    text-align: center;

}

.footer-content-number {

    display: flex;
    flex-direction: column;
    gap: 20px;
    color: #FFF;
    text-align: center;
    font-family: Inconsolata;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 62.5px;
    /* 312.5% */
    vertical-align: middle;

}

.footer-content-contacts-number {
    margin: 0;
}

.footer-content-number-flex {
    display: flex;
    align-items: center;
    gap: 20px;
    color: #CCCCCC;

}